<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUNDLE_ID</key>
	<string>Mobile-App-Development-Team.Crumbelievable-Mobile-App</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.502243338049-ceo915065f696jr6hbs5ehietlrk2f8e</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.502243338049-ceo915065f696jr6hbs5ehietlrk2f8e</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>502243338049-ceo915065f696jr6hbs5ehietlrk2f8e.apps.googleusercontent.com</string>
</dict>
</plist>
